name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Récupération du code
    - name: Checkout repository
      uses: actions/checkout@v4

    # 2. Installation de Java
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    # 3. Construction du JAR (On entre dans le dossier demo-github)
    - name: Build with Maven
      working-directory: ./demo-github  # <--- Important : on cible votre dossier
      run: mvn clean package -DskipTests

    # 4. Connexion à Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 5. Construction et Envoi de l'image Docker
    - name: Build & Push Docker image
      run: |
        cd demo-github  # <--- On entre dans le dossier où est le Dockerfile
        docker build -t ${{ secrets.DOCKER_USERNAME }}/springboot-app:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/springboot-app:latest
